/* General page styling */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
  transition: background-color 0.5s ease;
  background-color: #fcfcfc; /* Default background */
}

nav {
  margin-bottom: 30px;
}

nav a {
  text-decoration: none;
  margin: 0 15px;
  color: #0606f2;
  font-weight: bold;
}

.canvas {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 10%;
  border: 2px solid #828380;
  cursor: pointer;
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.2);
}

#grey {
  background-color: #828380;
}

#white {
  background-color: #fcfcfc;
  border: 2px solid #828380;
}

#blue {
  background-color: #0606f2;
}

#yellow {
  background-color: #f7f704;
}

#red {
  background-color: #f70404;
}

#green {
  background-color: green;
}

h2 {
  margin-top: 30px;
  font-weight: normal;
}

span {
  display: block;
  margin-top: 10px;
}
